.form-container {
  border: 2px solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.02em solid;
}

.forms h3 {
  text-align: center;
  font-size: 2em;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: white;
  border-radius: 7px;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 20px;
  margin: 10px 0;
  padding: 10px;
  background: rgb(238, 233, 233);
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.2em;
}

input:active,
input:hover {
  border: 0.1em solid rgb(15, 92, 194);
}

.btn {
  /* width: 100%; */
  font-size: 1.2em;
  padding: 5px 7px;
  margin: 10px;
  border: 5px;
  cursor: pointer;
}

.loginBtn {
  width: 100%;
  background: rgb(96, 94, 221);
  background: radial-gradient(
    circle,
    rgba(96, 94, 221, 0.8421743697478992) 33%,
    rgba(194, 91, 122, 0.8925945378151261) 92%
  );
}

.form-container .fa-window-close {
  position: absolute;
  top: 0.2px;
  right: 1px;
  cursor: pointer;
  color: #ad0a5c;
  padding: 3px 8px;
}

.social-btns {
  display: flex;
  justify-content: space-between;
}

.soc {
  padding: 10px;
  border: 0.1px solid #cccccc;
  background: none;
}

.fb-text,
.fa-facebook-square {
  color: blue;
}
.go-text,
.fa-google-plus-g {
  color: red;
}
